/* * {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
} */

.contenedor {
    width: 100%;
    height: 480px;
    margin: 0 auto;
    
    position: relative;

    background: linear-gradient(#092450, transparent) #3b82f6;/*linear-gradient(#90ebff, white);*/
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #ffadad;
}

.noche {
    background-color: #aca8c7;
}

.dino {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(https://pilatos21.vtexassets.com/arquivos/Pilatos-SneakersCity-Juego-Skatr.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.dino-corriendo {
    animation: animarDino 0.25s steps(2) infinite;
}
.dino-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(https://pilatos21.vtexassets.com/arquivos/Pilatos-SneakersCity-Juego-Suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.cactus{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url( https://pilatos21.vtexassets.com/arquivos/Pilatos-SneakersCity-Juego-Obstaculo1.png) no-repeat;
}
.cactus2{
    width: 98px;
    height: 66px;
    background: url( https://pilatos21.vtexassets.com/arquivos/Pilatos-SneakersCity-Juego-Obstaculo2.png)  no-repeat;

}

.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;
background: url( https://pilatos21.vtexassets.com/arquivos/Pilatos-SneakersCity-Juego-Nube.png ) no-repeat;
    background-size: 92px 26px;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #ffffff;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    position: relative;
    width: 100%;

    margin: 6px;
    text-align: center;
    color: #333;
    font-size: 19px;
    font-family: Verdana;
    font-weight: 700;
    top: 41px;
}

.cupon {
    font-weight: bold;
    color: #3b82f6;
    padding: 2px;
    text-decoration: 5px underline;
}

@media (max-width:740px){
    .game-over {
        top: 28px !important;
        font-size: 14px;
        width: 80%;
        margin: 10px auto;
    }
    .cupon{
        text-decoration: 3px underline;
    }
}

@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}

#btn-iniciar {
    position: relative;
    margin: 0;
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #ffc600;
    border-radius: 10px;
    color: #000;
    font-weight: 300;
    font-size: 18px;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    top: 45%;
    left: 45%;
    position: relative;
    z-index: 999;
}

#btn-iniciar:hover{
    background:#000 ;
    color: #fff;
}


.btn-reiniciar{
    position: absolute;
    width: 100%;
    margin: 6px;
    text-align: left;
    color: #333;
    font-size: 15px;
    font-family: Verdana;
    font-weight: 700;
    border: none;
    background: white;
    text-decoration: 2px underline;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    #btn-iniciar {
        position: relative;
        margin: 0;
        padding: 0.8em 1em;
        outline: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        background-color: #ffc600;
        border-radius: 10px;
        color: #000;
        font-weight: 300;
        font-size: 18px;
        z-index: 0;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
        top: 39%;
        left: 4%;
        position: relative;
        z-index: 999;
    }

    .btn-reiniciar{
        font-size: 13px;
    }
}

#btn-iniciar:hover {
    animation: sh0 0.5s ease-in-out both;
}

@media(max-width: 740px){
    .contenedor{
        width: 100%;
    height: 400px;
    }
}